/jira_ticket_dataset.csv
/EDA_testing/
/data/processed/jira_issues_cleaned.csv
/data/processed/final_cleaned.csv
/data/processed/final_cleaned_sample.csv
.venv/
sklearn-env/
__pycache__/
/ui/node_modules